/* -----------------------------------font----------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
/* -------------------------------------------------start header--------------------------------------------- */
.baner{
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    column-gap: 24px;
    margin-top: 20px;
   margin-bottom: 0;
   margin-left: 240px;
   margin-right: 139px;
}

.h-info{
    width: 531px;
    height: 424px;
   margin-top: 30px;
   margin-bottom: 0px;
   margin-left: 106px;
   margin-right: 0px;
  
 
}

.headline{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
   
}

  


.banner-p{
    color: #FFFFFF;
    margin-top: 0;
}
.baner-image{
    width: 581px;
    height: 80px;
    margin-top: 33px;
    margin-right: 50px;
    margin-left: 180px;
}
.baner-image img{
    width: 100%;
    
}
.watch-live{
    text-decoration: none;
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 5px;
    padding: 5px 10px;
}
/* ---------------------------------end header section----------------------------------------- */